* {
  margin: 0;
  padding: 0;
}
.container {
  width: 1320px;
  margin: 0 auto;
}

/* banner part========= */
#banner {
  width: 100%;
  background: #e554731a;
}
#banner .main .text-part {
}
#banner .main .text-part .tittle {
  color: #272727;
  width: 60%;
  font-size: 60px;
  font-weight: 800;
}
#banner .main .text-part .discription {
  width: 60%;
  margin-top: 20px;
  line-height: 25px;
}
#banner .main .text-part button {
  border-radius: 8px;
  background: #e55473;
  padding: 20px 43px;
  margin-top: 30px;
  border: none;
  color: white;
}

#banner .main {
  display: flex;
  padding-top: 50px;
  padding-left: 60px;
  padding-right: 60px;
}
#banner .main .image-part img {
  width: 422px;
  height: 465px;
}

/* Our Feature part========= */
#feature .tittle {
  text-align: center;
  margin-top: 50px;
  font-size: 40px;
}
#feature .discription p {
  text-align: center;
  font-size: 18px;
  margin-top: 5px;
}
#feature .main {
  display: flex;
  gap: 40px;
  margin-top: 40px;
  justify-content: center;
}
#feature .main .first-flower {
  width: 380px;
  height: 480px;
  background: #a7216226;
  border-top-left-radius: 200px;
  border-top-right-radius: 200px;
}
#feature .main .first-flower img {
  width: 300px;
  height: 450px;
  margin-top: 27px;
  margin-left: 35px;
}
#feature .main .second-flower {
  width: 380px;
  height: 480px;
  background: #0597a026;
  border-top-left-radius: 200px;
  border-top-right-radius: 200px;
}
#feature .main .second-flower img {
  width: 300px;
  height: 450px;
  margin-top: 26px;
  margin-left: 45px;
}
#feature .main .third-flower {
  width: 380px;
  height: 480px;
  background: #477d1126;
  border-top-left-radius: 200px;
  border-top-right-radius: 200px;
}
#feature .main .trird-flower img {
  width: 300px;
  height: 450px;
  margin-top: 26px;
  margin-left: 45px;
}

/* deal part========= */
#deal {
  background: #e554730d;
  margin-top: 50px;
  padding: 30px 0;
}
#deal .main {
  display: flex;
}
#deal .main .text-part {
  margin-top: 50px;
  margin-left: 50px;
  text-align: center;
}
#deal .main .text-part .tittle {
  font-size: 40px;
}
#deal .main .text-part .discription {
  width: 500px;
  margin: 0 auto;
  font-size: 18px;
}
#deal .main .text-part .tittle .color {
  color: #e55473;
}
#deal .main .text-part button {
  border-radius: 8px;
  background: #e55473;
  padding: 20px 43px;
  margin-top: 30px;
  border: none;
  color: white;
}
#deal .main .image-part img {
  width: 249px;
  height: 283px;
  margin-left: 16rem;
}

/* instagram part========= */
#instagram {
  background: #e554730d;
  margin-top: 30px;
  padding: 30px 0;
}
#instagram .tittle {
  font-size: 40px;
  text-align: center;
}
#instagram .discription {
  font-size: 18px;
  text-align: center;
  margin-top: 10px;
}
#instagram .main {
  display: flex;
  gap: 20px;
  margin-top: 20px;
  justify-content: center;
}
#instagram .main img {
  width: 285px;
  height: 330px;
}

/* latest deal part========= */
#latest-deal {
  /* background: url("../images/Rectangle 9.png")
  padding: 100px 0; */
}
#latest-deal .main .image {
  position: relative;
  text-align: center;
}
#latest-deal .image img {
  width: 1320px;
  height: 350px;
}
#latest-deal .main .text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#latest-deal .main .input-field {
  width: 488px;
  height: 51px;
  font-size:24px;
}
#latest-deal .main .text .button {
  border-radius: 8px;
  background: #e55473;
  padding: 20px 43px;
  margin-top: 30px;
  border: none;
  color: white;
  margin-left:5px;
}

/* about part========= */

#about {
  margin-top: 20px;
  text-align:center;
}
#about .text .tittle {
  font-size: 40px;
  margin-top: 10px;
}
#about .text .discription {
  font-size:24px;
  width:900px;
  margin:0 auto;
}


/* footer part========= */

#footer {
  padding: 60px 0;
  background: #111010;
  color: white;
  text-align: center;
  margin-top: 30px;
}
#footer .color {
  color: #E55473;

}
#footer .tittle {
  font-size: 48px;
  margin-bottom: 10px;
}

#footer .copyright {
  margin-top: 10px;
}
